<web-app>
  <servlet>
    <servlet-name>BuyFood</servlet-name>
    <servlet-class>fancyfoods.web.BuyFood</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SayHello</servlet-name>
    <servlet-class>fancyfoods.web.SayHello</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SayHelloJndi</servlet-name>
    <servlet-class>fancyfoods.web.SayHelloJndi</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SayHelloShopping</servlet-name>
    <servlet-class>fancyfoods.web.SayHelloShopping</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyFood</servlet-name>
    <url-pattern>/BuyFood</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SayHello</servlet-name>
    <url-pattern>/SayHello</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SayHelloJndi</servlet-name>
    <url-pattern>/SayHelloJndi</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SayHelloShopping</servlet-name>
    <url-pattern>/SayHelloShopping</url-pattern>
  </servlet-mapping>
</web-app>
